color={{ swaywm_swaylock.color }}
font-size={{ swaywm_swaylock.font_size }}
image={{ swaywm_lockscreen_image }}
indicator-radius={{ swaywm_swaylock.indicator_radius }}
inside-caps-lock-color={{ swaywm_swaylock.inside_caps_lock_color }}
inside-clear-color={{ swaywm_swaylock.inside_clear_color }}
inside-color={{ swaywm_swaylock.inside_color }}
inside-ver-color={{ swaywm_swaylock.inside_ver_color }}
inside-wrong-color={{ swaywm_swaylock.inside_wrong_color }}
key-hl-color={{ swaywm_swaylock.key_hl_color }}
layout-bg-color={{ swaywm_swaylock.layout_bg_color }}
layout-border-color={{ swaywm_swaylock.layout_border_color }}
layout-text-color={{ swaywm_swaylock.layout_text_color }}
{% if swaywm_swaylock.line_uses_inside %}
line-uses-inside
{% endif %}
ring-caps-lock-color={{ swaywm_swaylock.ring_caps_lock_color }}
ring-clear-color={{ swaywm_swaylock.ring_clear_color }}
ring-color={{ swaywm_swaylock.ring_color }}
ring-ver-color={{ swaywm_swaylock.ring_ver_color }}
ring-wrong-color={{ swaywm_swaylock.ring_wrong_color }}
scaling={{ swaywm_swaylock.scaling }}
separator-color={{ swaywm_swaylock.separator_color }}
{% if swaywm_swaylock.show_failed_attempts %}
show-failed-attempts
{% endif %}
text-caps-lock-color={{ swaywm_swaylock.text_caps_lock_color }}
text-clear-color={{ swaywm_swaylock.text_clear_color }}
text-color={{ swaywm_swaylock.text_color }}
text-ver-color={{ swaywm_swaylock.text_ver_color }}
text-wrong-color={{ swaywm_swaylock.text_wrong_color }}
